.international {
  margin: 0 auto;
  background-image: url(../images/internationalimage.png);
  width: 70%;
  height: 378px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.international .callout2 {
  padding-top: 130px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
}
.international .callout2 .bignumber {
  font-size: 270px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #EE4367;
  font-style: bold;
}
.international .callout2 .titleofevent {
  font-size: 115px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #EE4367;
  padding-right: 7px;
  font-style: bold;
}

@media screen and (max-width: 800px) {
  .deejay {
    width: 70%;
  }
  .deejay .callout2 {
    padding-top: 283px;
  }
  .deejay .callout2 .bignumber {
    font-size: 100px;
  }
  .deejay .callout2 .titleofevent {
    font-size: 80px;
  }
}