.international{
    margin: 0 auto;
    background-image: url(../images/internationalimage.png);
    width: 70%;
    height: 378px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    .callout2{
        padding-top: 130px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
    


    .bignumber{
        font-size: 270px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #3BCEAB;
        font-style: bold;
    }


    .titleofevent{
        font-size: 115px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #3BCEAB;
        padding-right: 7px;
        font-style: bold;
    }
    }
}

@media screen and (max-width: 800px) {
    .international {
     width: 70%;
     .callout2{
        padding-top: 283px;
        .bignumber{
            font-size: 100px;
            
        }

        .titleofevent{
          font-size: 80px;
            
        }
     }
    }
  }