.ourhistorytitleinfo{
    width: 17%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid black;
    margin-top: -2%;
    margin-left: 15%;
}