.ourhistoryparainfo{
    margin-left: 15%;
    padding-top: 60px;
    font-size:16px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#707070 ;
    width: 72%;
    padding-bottom: 80px;
    font-weight: lighter;
    font-style: italic;
}