.hero {
  height: 400px;
}
.hero .homeheroeventsy {
  background-image: url(../../images/homeheroeventsy.png);
  width: 1280px;
  height: 500px;
}
.hero .homeheroeventsy .whitebar1 {
  width: 980px;
  color: white;
  z-index: 99px;
}
.hero .homeheroeventsy .callout1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .homeheroeventsy .callout1 .travelflytitle {
  font-family: Inclusive-Sans-Italic;
  font-style: normal;
  font-size: 60px;
  color: white;
  margin-top: 140px;
  text-align: center;
}
.hero .homeheroeventsy .callout1 .travelflytitle .para1 {
  font-size: 20px;
  width: 500px;
  height: 46px;
  text-align: center;
  margin-top: 30px;
  font-family: Inclusive-Sans-Italic;
}
@font-face {
  font-family: Inclusive-Sans-Italic;
  src: url(../fonts/Inclusive_Sans/InclusiveSans-Italic.ttf);
}
@font-face {
  font-family: Inclusive-Sans;
  src: url(../fonts/Inclusive_Sans/InclusiveSans-Regular.ttf);
}
.hero .homeheroeventsy .callout1 .learn-more {
  padding: 5px 15px;
  background-color: #79ADDC;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 121px;
  height: 35px;
  margin-right: 10px;
  margin-top: 50px;
  text-align: center;
  z-index: 99;
}
.hero .white-bar {
  height: 10px;
  width: 300px;
  color: white;
  z-index: 99px;
}